In [1]:
import pandas as pd
import requests

In [8]:
api = '81419012a8f4bf777c342c25e2ddaf77'
stocks_url = 'https://financialmodelingprep.com/api/v3/stock/list?apikey=' + api

stocks = requests.get(stocks_url)

In [9]:
stocks.status_code

200

In [25]:
symbols = []
names = []
exchanges = []

for s in stocks.json():
    if 'symbol' in s:
        symbols.append(s['symbol'])
    else:
        symbols.append('null')
    if 'name' in s:
        names.append(s['name'])
    else:
        names.append('null')
    if 'exchange' in s:
        exchanges.append(s['exchange'])
    else:
        exchanges.append('null')

In [23]:
stocks.json()[1]['exchange']

'Nasdaq Global Select'

In [30]:
print(symbols.count('null'))
print(names.count('null'))
print(exchanges.count('null'))

0
4
84

In [31]:
stocks_df = pd.DataFrame({'symbols': symbols, 'names': names, 'exchange': exchanges})

In [32]:
stocks_df.head()

  symbols                  names                 exchange
0     SPY           SPDR S&P 500                NYSE Arca
1   CMCSA           Comcast Corp     Nasdaq Global Select
2     KMI      Kinder Morgan Inc  New York Stock Exchange
3    INTC             Intel Corp     Nasdaq Global Select
4      MU  Micron Technology Inc     Nasdaq Global Select

In [33]:
stocks_df.to_csv('stock_list.csv')